<% provide(:title, 'ユーザプロジェクト一覧') %>

<div id="user-projects">

  <div class="user">
    <p>ユーザ一覧</p>
    <ul>
      <% @followed_user.each do |followed| %>
      <li><%= User.find(followed.follower_id).name %></li>
      <% end %>
    </ul>

    <%= will_paginate %>
      <ul><%= render @user_projects %></ul>
    <%= will_paginate %>
  </div>

  <div class="project">
    <p>割り当てプロジェクト</p>
  </div>

  <div class="project">
    <p>未割当</p>
  </div>

</div>

