<% provide(:title, 'プロジェクト一覧') %>

<div id="projects">

  <div class="index">
    <p>一覧</p>
    <%= will_paginate %>
      <ul><%= render @projects %></ul>
    <%= will_paginate %>
  </div>

  <div class="edit">
    <p>更新</p>
  </div>

  <div class="craete">
    <p>作成</p>
  </div>

</div>
