
#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#month-laquo, #month, #month-raquo {
  background-color: #CCCCCC;
  height: 5%;
  width: 4%;
  position: absolute;
  margin: auto;
}

#month-laquo {
  top: 0;
  right: 20%;
  bottom: 85%;
  left: 0%;
}

#month {
  top: 0;
  right: 0;
  bottom: 85%;
  left: 10%;
}

#month-raquo {
  top: 0;
  right: 0;
  bottom: 85%;
  left: 40%;
}

#jisseki .pagination {
  margin: 0;
  height: 100%;
}

#jisseki .disabled {
  height: 100%;
}

#jisseki a {
  height: 100%;
}

#jisseki .aquo {
  height: 100%;
}

#project {
  background-color: #CCCCCC;
  height: 50%;
  width: 10%;
  position: absolute;
  top: 30%;
  right: 85%;
  bottom: 0%;
  left: 0%;
  margin: auto;
}

#slider {
  background-color: #CCCCCC;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 10%;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

#door {
  height: 100%;
  width: 350%;
  min-width: 155rem;
}

.date {
  width: 4%;
  min-width: 5rem;
  height: 100%;
  background-color: #55CC55;
  float: left;
  border: 1px solid black;
}

.day {
  width: 100%;
  height: 10%;
  background-color: #C35D54;
  clear: both;
}

.time {
  width: 100%;
  height: 10%;
  background-color: #1CB3DD;
  clear: both;
}

.time-list{
  width: 100%;
  height: 60%;
  background-color: #A7B32C;
  clear: both;
}

.tll, .tlr {
  height: 9%;
  width: 50%;
}

.tll {
  background-color: #AA5522;
  float: left;
}

.tlr {
  background-color: #A7A7A7;
  float: right;
}

.time-list button {
  width: 100%;
}
