// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#projects {
  
  height: 100%;
  width:  100%;
  padding: 20px;
  
  .title {
    height: 50px;
    margin: 20px 0 10px 0;
    p {
      font-size: 30px;
    }
  }
  
  .index {
    height: 40%;
    background-color: #AABFfA;
    padding: 20px;
  }
  
  .edit {
    height: 40%;
    padding: 20px;
    background-color: #FBAAfA;
    input {
      margin: 5px;
    }
  }
  
  .create {
    height: 40%;
    padding: 20px;
    background-color: #FBAA88;
    input {
      margin: 5px;
    }
  }

  form {
    margin: 2px;
    float: left;
  }  
}