// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
  p {
    font-size: 30px;
    margin: 20px 0 0 40px;
  }
  input {
    margin: 0 10px;
  }
}