// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-projects {
  
  height: 100%;
  width:  100%;
  
  .user {
    height: 100%;
    width:  50%;
    float: left;
  }
  .project {
    height: 50%;
    width:  50%;
    float: right;
  }
  
}