// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#user-projects {
  
  height: 100%;
  width:  100%;
  padding: 20px;

  .title {
    height: 50px;
    margin: 20px 0 10px 0;
    p {
      font-size: 30px;
    }
  }

  .user {
    height: 80%;
    background-color: #AABFfA;
    padding: 20px;
  }
  .project {
    height: 80%;
    //background-color: #783589;
    input {
      margin: 5px;
    }
    .assign {
      height: 50%;
      background-color: #FBAAfA;
      padding: 20px;
    }
    .yet {
      height: 50%;
      background-color: #FBAA88;
      padding: 20px;
    }
    form {
      margin: 2px;
      float: left;
    }
  }
  
}