<div id="main">

<% if signed_in? %>
  <aside>
    <section id="profile">
      <%= render 'shared/user_info' %>
    </section><!-- #profile -->
    <section id="alert">
      ○月×日の勤怠と実績に相違があります。
      修正してください。
    </section><!-- #alert -->
    <section id="status">
      <%= render 'shared/stats' %>
    </section><!-- #status -->
  </aside>
  <article>
    <section id="content">
      <%= yield %>
    </section><!-- #main -->
  </article>
<% else %>
  <%= yield %>
<% end %>
</div><!-- #main -->
